body{
    background-color: skyblue;
}
h2{
    padding-left: 40px;
    font-family: 'Ubuntu', sans-serif;
}
h4{
    padding-top: 6px;
    padding-left: 65px;
}
.divb{
    height: 220px;
    width: 300px;
    background-color: white;
    margin-left: 40%;
    margin-top: 200px;
}
.list{
    padding-left: 40px;
    font-family: 'Ubuntu', sans-serif; 
}
.btn{
    height: 30px;
    width: 220px;
    background-color: aqua;
    font-family:  'Ubuntu', sans-serif ;
}
body{
    background-color: antiquewhite;
}
.div6{
  height: 200px;
  width: 275px;
  background-color: aqua ;
  text-align: center;
}

